:root {
	--main-color-background: #ff6d60;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(243, 248, 255);
}

.cross-main-center {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.page-header {
	background-color: var(--main-color-background);
	width: 100%;
}

.page-header > h1 {
	font-family: 'Borel', cursive;
	font-size: 6rem;
	font-weight: 900;
	display: block;
	height: 9rem;
	font-style: italic;
	color: white;
}

.page-header > .img {
	width: min-content;
	height: min-content;
}

.img img {
	width: 200px;
	height: 200px;
}

/*Codigo para las descripciones*/
.main-content {
	width: 95%;
	margin: 50px auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 10px;
	flex-wrap: wrap;
}

.main-content h3 {
	font-family: 'Asap', sans-serif;
	font-size: 2rem;
	position: relative;
	white-space: nowrap;
	display: inline-block;
}

.main-content .descripcion p {
	font-family: 'REM', sans-serif;
	font-size: 1.2rem;
	line-height: 1.5;
}

.main-content .dish {
	box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.463);
	border: none;
	min-width: 350px;
	height: 400px;
	flex: 1 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px;
	background-color: white;
	margin: 20px 10px;
	border-radius: 15px;
}

.descripcion {
	overflow-y: auto;
	max-height: 150px;
}

.dish h3,
.descripcion {
	margin: 10px auto;
}

.dish h3::after {
	content: '';
	width: 100%;
	height: 5px;
	background-color: rgba(165, 42, 42, 0.797);
	position: absolute;
	left: 0;
	top: 40px;
	background: repeating-linear-gradient(
		45deg,
		#ff6d60 0,
		#ff6d60 10px,
		transparent 10px,
		transparent 20px
	);
}

.show-more {
	padding: 10px;
	font-family: 'REM', sans-serif;
	font-weight: bold;
	font-size: 1.1rem;
	border: none;
	background: repeating-linear-gradient(
		45deg,
		#ff6d60 0,
		#ff6d60 10px,
		#ff6d60ee 10px,
		#ff6d60ee 20px
	);
	border-radius: 15px;
	color: white;
	cursor: pointer;
	transition: 0.5s;
	opacity: 0.8;
}

.show-more:hover {
	opacity: 1;
	transition: 0.5s;
	transform: translateX(15px);
}
